@font-face {
    font-family: 'weblysleek_ui-regular';
    src: local('weblysleek_ui-regular'),
            url('~/assets/font/weblysleekuisl-webfont.woff2') format('woff2'),
            url('~/assets/font/weblysleekuisl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_ui-italic';
    src: local('weblysleek_ui-italic'),
        url('~/assets/font/weblysleekuili-webfont.woff2') format('woff2'),
         url('~/assets/font/weblysleekuili-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* 

@font-face {
    font-family: 'weblysleek_ui';
    src: url('weblysleekuili-webfont.woff2') format('woff2'),
         url('weblysleekuili-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'weblysleek_ui';
    src: url('weblysleekuisb-webfont.woff2') format('woff2'),
         url('weblysleekuisb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_ui';
    src: url('weblysleekuisbi-webfont.woff2') format('woff2'),
         url('weblysleekuisbi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'weblysleek_ui';
    src: url('weblysleekuisl-webfont.woff2') format('woff2'),
         url('weblysleekuisl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

} */