.become-a-partner-page {
    .icon-box {
        svg {
            fill: $color-primary;
        }
    }

    .partner-box {
        background-color: $bg-light;
        text-align: center;
        img {
            height: 80px;
            object-fit:contain;
        };
    }

    .join-us-box {
        .title-tertiary {
            font-weight: 800;
            color: #222;
            font-size: 1.3rem;
        }
    }

    .btn-color {
        margin-bottom: 30px;
    }
}

#modal-sign-partner {
    .modal-body {
        padding: 0;
    }
}