.destination-section {
    .destination-link {
        width: 100%;
        overflow: hidden;
        // box-shadow: $shadow-card;
        color: $default-color;
        border: 1px solid #dddd;
        border-radius: 12px;
        img {
            height: 200px;
        }

        .title-fifth {
            font-weight: bold;
        }
    }
}